################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tetrix/v17
/.vs
/Tetrix_code/.vs/Tetrix_code/v17
*.log
**/logs
**/logs/debug.log
/debug.log
logs/
logs/debug.log
*.exe
*.pdb
*.tlog
*.obj
*.ilk
*.idb
*.vcxpoj
*.enc